<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      //establish websocket connection with server
      var iosocket = io.connect('http://localhost:8080');
      iosocket.on('connect', function () {
      $('#incomingChatMessages').append($('<li class="alert">Connected</li>'));

      //when received message from server
      iosocket.on('message', function(data) {
        var icm = $('<li class="active"></li>');
        $('#incomingChatMessages').append(icm.text(data.message));
        setTimeout(function() { icm.removeClass('active') }, 1500);
        $('#chat-ctnr').scrollTop($('#incomingChatMessages').height() + 100 );
      });
      iosocket.on('disconnect', function() {
        iosocket.on('message', null);
          $('#incomingChatMessages').append('<li class="alert">Disconnected</li>');
        });
      });

      //send new chat message
      function sendMsg() {
        iosocket.emit('newChatMsg', {message: $('#outgoingChatMessage').val()});
        var ocm = $('<li class="active"></li>');
        $('#incomingChatMessages').append(ocm.text($('#outgoingChatMessage').val()));
        $('#chat-ctnr').scrollTop($('#incomingChatMessages').height() + 100 );
        setTimeout(function() { ocm.removeClass('active') }, 1500);
        $('#outgoingChatMessage').val('');
      }
      
      function SEsendMsg() {
        iosocket.emit('newChatMsg', {message: $('#outgoingChatMessage').val()});
        var ocm = $('<li class="active"></li>');
        $('#incomingChatMessages').append(ocm.text($('#outgoingChatMessage').val()));
        $('#chat-ctnr').scrollTop($('#incomingChatMessages').height() + 100 );
        setTimeout(function() { ocm.removeClass('active') }, 1500);
        $('#outgoingChatMessage').val('');
      }
    </script>
  </head>
  <body>
  	
  	<% if(user) {%>
  		<h2>Welcome you back, <%- user.first_name %>! </h2<div id="logoutLink"><a href="/logout">logout</div>
  	
    	<div id="ic">Incoming Chat:</div>
   	 	<div id="chat-ctnr">
      	<ul id="incomingChatMessages"></ul>
   		</div>
    	<input type="text" id="outgoingChatMessage"><input id="sendMessageButton" type="button" value="send" onclick='sendMsg()'>
    <% } else { %>
    	<div>Please <a id='loginLink' herf="/">Login</a> Fisrt!</div>
    <% } %>
  </body>
</html>